FinalProject/Localhost/ViabilityClient/web/WEB-INF/wsdl/localhost_8080/WebServiceManager/WebServiceManager.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="create" type="tns:create"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="remove" type="tns:remove"/>

<xs:element name="segnalazione" type="tns:segnalazione"/>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="entity" type="tns:segnalazione" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="segnalazione">
<xs:sequence>
<xs:element name="age" type="xs:int"/>
<xs:element name="id" type="xs:long" minOccurs="0"/>
<xs:element name="iddistrict" type="xs:long"/>
<xs:element name="namesurname" type="xs:string" minOccurs="0"/>
<xs:element name="priority" type="xs:int"/>
<xs:element name="tmstampedit" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="entity" type="tns:segnalazione" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="entity" type="tns:segnalazione" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>